<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limbus Character Codex</title>
</head>
<div th:replace="~{layout :: content}">
    <div th:fragment="content">
<body class="p-8">
<form id="identity-form" enctype="multipart/form-data" method="post" th:action="@{/identity/add}">
    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">소속 캐릭터 (Sinner)</label>
        <select name="sinnerId" class="w-full p-2 rounded bg-gray-800 text-white" required>
            <option th:each="sinner : ${sinnerList}" th:value="${sinner.id}" th:text="${sinner.name}"></option>
        </select>
    </div>

    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">이름</label>
        <input type="text" name="name" class="w-full p-2 rounded bg-gray-800 text-white" required />
    </div>

    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">시즌</label>
        <input type="number" name="season" class="w-full p-2 rounded bg-gray-800 text-white" required />
    </div>

    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">등급</label>
        <input type="number" name="grade" class="w-full p-2 rounded bg-gray-800 text-white" required />
    </div>

    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">인격 이미지</label>
        <input type="text" name="imgUrl" class="w-full p-2 rounded bg-gray-800 text-white" />
    </div>

    <div class="mb-4">
        <label class="block text-sm text-gray-200 mb-1">인격 이미지</label>
        <input type="file" name="file" accept="image/*" class="w-full text-white" />
    </div>

    <button type="submit" class="bg-yellow-400 text-black px-4 py-2 rounded hover:bg-yellow-300">추가하기</button>
</form>

<script src="/js/identity/identity.js"></script>
</body>
    </div>
</div>
</html>
