<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Limbus Character Codex</title>
</head>
<div th:replace="~{layout :: content}">
    <div th:fragment="content">
<body class="p-8">
<div class="px-6" id="container">
    <div class="mb-8">
        <div class="flex items-end justify-between gap-4 mb-8">
            <div id="top-label">
                <p class="text-yellow-300 text-lg">
                    🧩 <span th:text="${userId}">userId</span>님의 덱 빌딩
                    <span class="text-sm text-gray-400 ml-2">(<span th:text="${prisonerGuid}">guid</span>)</span>
                </p>

                <label for="deck-code" class="block text-sm text-gray-200 mt-2 mb-1">덱 코드</label>
                <select id="deck-code" name="deck-code" class="w-64 p-2 rounded bg-gray-800 text-white">
                    <option th:if="${#lists.isEmpty(deckListCode)}" value="">새로운 덱</option>
                    <option th:each="deckCode : ${deckListCode}" th:value="${deckCode}" th:text="${deckCode}"></option>
                </select>
            </div>

            <div>
                <button class="text-sm text-yellow-300 border border-grey-300 px-4 py-2 rounded hover:bg-yellow-300 hover:text-black transition new-deck-list h-fit">
                    ✏️ 추가
                </button>
                <button class="text-sm text-yellow-300 border border-grey-300 px-4 py-2 rounded hover:bg-yellow-300 hover:text-black transition save-deck h-fit">
                    ✏️ 저장
                </button>
            </div>
        </div>

        <!-- 20칸 그리드 -->
        <div class="grid gap-2 mb-8" style="grid-template-columns: repeat(20, minmax(0, 1fr));" id="deck-card-container">
        </div>

        <button id="deck-add-btn" class="mb-4 px-4 py-2 bg-yellow-400 text-black rounded hover:bg-yellow-300">
            ➕ 덱 추가
        </button>

        <div id="deck-zones-container" class="space-y-4"></div>
    </div>
</div>

<script src="/js/deck/deck.js"></script>
</body>
    </div>
</div>
</html>
